<div class="index-container">
    <div class="beer-container">
        <img src="images/beer.png" alt="beer-pic">
        <button class="btn-1">Check the Beers!</button>
        <button class="btn-2">Check a Random Beer!</button>
    </div>
</div>